 h1 {color:#050a5133;
    padding-left: 30px;}
 
  .header * {
      border: solid
  }
  .header {
      background-color: rgb(170, 227, 245);
      display:flex;
      justify-content: space-between;

  }
   .site-description{
       display: flex;
       flex-direction: column;
       justify-content: first baseline;
   }
   .grid{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
   }
   .footer{
    display: flex;
    justify-content: space-evenly;
   }
   body{
       background-color:#ff0000e8;
   }
   a:link{
       color: pink
   }
   a:visited{
    color: pink
}
.menu{
    margin-right: 30px;
}
.menu a{
    margin-left: 20px;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0
}
.item:hover p{
    opacity:1
}
.item:hover img{
    opacity:0.33
}